@import url("https://fonts.cdnfonts.com/css/frunch");
@import url("https://fonts.cdnfonts.com/css/bodegasans");
@import url("https://fonts.cdnfonts.com/css/maybe-coffee");

/* Base reset */
* {
  margin: 0;
  padding: 0;
  color: white;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --main: #f0e3ca;
  --secondary: #ff8303;
  --tertiary: #a35709;
  --background: #1b1a17;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* A few media query to set some font sizes at different screen sizes.
 * This helps automate a bit of responsiveness.
 * The trick is to use the rem unit for size values, margin and padding.
 * Because rem is relative to the document font size
 * when we scale up or down the font size on the document
 * it will affect all properties using rem units for the values.
*/

/* I am using the em unit for breakpoints
 * The calculation is the following
 * screen size divided by browser base font size
 * As an example: a breakpoint at 980px
 * 980px / 16px = 61.25em
*/

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

body {
  /* remove margins and scroll bars */
  margin: 0;

  /* color text */
  color: #444;

  height: 100vh;
  width: 100vw;
}

#about-me {
  cursor: pointer;
  width: auto;
  min-height: fit-content;
  height: auto;
  padding: 1%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  margin: 2%;
  writing-mode: vertical-rl;
  transform: rotateZ(180deg);
  text-decoration: none;
  font-size: 1.5rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#about-me:hover {
  background: rgba(255, 255, 255, 0.5);
}

main {
  height: 100vh;
  width: 100vw;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
}

#gradient {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: #ffa17f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #00223e,
    #ffa17f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #00223e,
    #ffa17f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.bg:before,
.bg:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(/assets/foods.svg) repeat;
  background-size: 25%;
  animation: move 10s infinite linear;
}

.bg:before {
  right: 100%;
}

.page {
  height: 100%;
  width: 100%;
}

#burgerContainer {
  height: 100%;
  width: 100%;
}

#burgerContainer > img {
  background-repeat: no-repeat;
  width: 60%;
  height: auto;
  max-height: 60%;
  position: absolute;
  transform: translate(-50%, -50%);
}

#titleContainer {
  width: 100%;
  height: 100%;
}

#titleContainer > h1 {
  font-size: 9rem;
  font-family: "Frunch", Arial, Helvetica, sans-serif;
  color: var(--secondary);
  text-shadow: 0.5rem 0.5rem maroon;
  -webkit-text-stroke-width: 0.3rem;
  -webkit-text-stroke-color: black;
  transform: translate(-50%, -50%);
  position: absolute;
}

@media (max-width: 480px) {
  #titleContainer > h1 {
    font-size: 7rem;
    -webkit-text-stroke-width: 0.2rem;
  }
}

@media (max-width: 320px) {
  #titleContainer > h1 {
    font-size: 5rem;
  }
}

@media (max-width: 280px) {
  #titleContainer > h1 {
    font-size: 3rem;
    -webkit-text-stroke-width: 0.1rem;
    text-shadow: 0.2rem 0.2rem maroon;
  }
}

.history {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  padding: 4% 5% 5% 5%;
  background: rgba(255, 255, 255, 0.13);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

@media (max-width: 480px) {
  .history {
    width: 100%;
  }
}

.history > h2 {
  font-size: 6rem;
  font-family: "BodegaSans-MediumSmallcaps", sans-serif;
  color: linear-gradient(brown, burlywood);
  margin-bottom: 7%;

  /* Fallback: Set a background color. */
  background-color: red;

  /* Create the gradient. */
  background-image: linear-gradient(45deg, #af4261, #f3ec78);

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.history > p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  margin-top: 2%;
}

#ingredients {
  width: 100%;
  height: 100%;
  padding: 5%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#ingredients > h1 {
  text-align: center;
  font-size: 4rem;
  font-family: "Maybe Coffee", sans-serif;
  /* Fallback: Set a background color. */
  background-color: red;

  /* Create the gradient. */
  background-image: linear-gradient(45deg, #af4261, #f3ec78);

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

#burger-breakdown {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#burger-breakdown > a > img {
  height: auto;
  max-height: 100%;
  width: auto;
  max-width: 100%;
  padding: 10% 2% 0 2%;
}

#burger-breakdown > a {
  height: 100%;
  width: auto;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#ing-info {
  height: 100%;
}

#ing-info > ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  padding: 50% 0;
}

#ing-info > ul > li {
  font-size: 2.5rem;
  font-family: "Maybe Coffee", sans-serif;
}

@keyframes move {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
